@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');


html, body{
    font-family: 'Quicksand', sans-serif;

}

.headers-text{
    font-size: 3rem;
}

.subheading-text 
{
    font-size: 2rem;
}
.header-number{
    font-size: 6rem;
    font-weight: 800;
}

@media (min-width: 768px) { 

    .header-image{
        width: 70%;
    }


}

.form-group.required .control-label:after { 
    content:"*";
    color:red;
}


.headers-text{
    line-height: 0.8;
}

.light-grey{
    color: #535353;
}

.text-orange{
    color: #fd7e14;
}
.font-w700{
    font-weight: 700;
}